@import "vars" ;

body {
  background-color: $bg-color;
  color: $text-color;
  font-size: $font-size;
  font-family: $font-family;
  padding: $font-size;
}
p {
  background-color: $p_bgcolor;
}
