$bg-color: rgb(204, 60, 60);
$text-color: rgb(15, 15, 20);
$font-size: 20px;
$p_bgcolor: rgb(222, 222, 224);
$font-family:  Vazirmatn FD;

/* ------------------*/

/* use the variables*/

body {
  background-color: $bg-color;
  color: $text-color;
  font-size: $font-size;
  font-family: $font-family;
  padding: $font-size;
}
p {
  background-color: $p_bgcolor;
}
